<div class="login-container">
  <div class="login-card">
    
    <div class="login-title">
      Login Page
    </div>

    <app-homework-input
      type="Text"
      label="ชื่อผู้ใช้งาน"
      placeholder="กรอกชื่อผู้ใช้งาน"
      [fieldValue]="loginData.UserName"
      (fieldValueChange)="loginData.UserName = $event"
      [componentState]="errorState"
      attributeName="UserName">
    </app-homework-input>

    <app-homework-input
      type="Password"
      label="รหัสผ่าน"
      placeholder="กรอกรหัสผ่าน"
      [fieldValue]="loginData.Password"
      (fieldValueChange)="loginData.Password = $event"
      [componentState]="errorState"
      attributeName="Password">
    </app-homework-input>

    <homework-button 
      label="เข้าสู่ระบบ" 
      (onClick)="submitLogin()">
    </homework-button>

  </div>
</div>