<div
  class="homework-button"
  [class]="themeClass + ' ' + sizeClass + ' homework-button-' + stylingMode + (disabled ? ' opacity-50 cursor-not-allowed' : '')"
  [class.homework-button-icon-only]="!label"
  [style.background-color]="buttonColor || null"
  [style.color]="textColor ? textColor : defaultTextColor"
  (click)="onClickButton()"
>
  @if (iconCode) {
    <span class="material-icons" [style.color]="iconColor" [style.font-size.px]="iconSize">
      {{ iconCode }}
    </span>
  }

  @if (label) {
    <span class="homework-button-label">
      {{ label }}
    </span>
  }
</div>
