.homework-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 6px;

  border-radius: 6px;
  border: 1px solid transparent;

  cursor: pointer;
  user-select: none;

  transition: all 0.2s ease;
}

/* Theme */

.homework-button-primary {
  background-color: #2e8ef8;
  color: #ffffff;
}

.homework-button-primary:hover {
  background-color: #1f7be0;
}

.homework-button-secondary {
  background-color: #ffffff;
  border-color: #2e8ef8;
  color: #2e8ef8;
}

.homework-button-secondary:hover {
  background-color: #f3f9ff;
}

.homework-button-danger {
  background-color: #ef4444;
  color: #ffffff;
}

.homework-button-danger:hover {
  background-color: #dc2626;
}

/* Size */

.homework-button-xs {
  padding: 2px 8px;
  font-size: 10px;
}

.homework-button-sm {
  padding: 4px 12px;
  font-size: 12px;
}

.homework-button-md {
  padding: 8px 32px;
  font-size: 14px;
}

.homework-button-lg {
  padding: 10px 40px;
  font-size: 16px;
}

.homework-button-xl {
  padding: 12px 48px;
  font-size: 18px;
}

.homework-button-2xl {
  padding: 14px 56px;
  font-size: 20px;
}