<nav class="post-nav">
  <!-- <div class="nav-brand">BACKOFFICE</div>

  <div class="nav-menu">
    @for (item of menuItems; track $index) {
      <a [routerLink]="item.pageUrl" 
         routerLinkActive="nav-link-active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link">
        <i [class]="item.navbarIcon"></i> 
        <span>{{ item.navbarName }}</span>
      </a>
    }
  </div>

  <div class="profile-container">
    <div class="username">{{username}}</div>
  </div> -->
</nav>