<div [class]="layout === 'row'
    ? 'hw-input-row'
    : labelPosition === 'bottom' ? 'hw-input-bottom' : 'hw-input-full'">

  <div class="hw-input-header">
    @if (label) {
    <label [style.font-size.px]="fontSize" [class]="layout === 'row'
          ? 'hw-label hw-label-row'
          : labelPosition === 'bottom'
              ? 'hw-label hw-label-bottom'
              : 'hw-label hw-label-top'">
      {{ label }}
      @if (isRequired) {
      <span class="hw-required">*</span>
      }
    </label>
    } @else {
    <div></div>
    }

    @if (isShowLength && (min !== undefined || max !== undefined)) {
    <div class="hw-hint">
      @if (type === 'Number' || type === 'Integer' || type === 'Decimal') {
      {{ min !== undefined ? 'Min: ' + (min | number) : '' }}
      {{ (min !== undefined && max !== undefined) ? ' / ' : '' }}
      {{ max !== undefined ? 'Max: ' + (max | number) : '' }}
      } @else if (max !== undefined && (type === 'Text' || type === 'TextArea' || type === 'Password' || type ===
      'Email' || type === 'Search' || type === 'Phone')) {
      {{ (uiValue?.toString()?.length || 0) }}/{{ max | number }}
      }
    </div>
    }
  </div>

  @switch (type) {

  @case ('Text') {
  <dx-text-box [disabled]="isDisabled" [maxLength]="max ?? ''" [value]="uiValue" [showClearButton]="true"
    valueChangeEvent="keyup input"
    [isValid]="errors.length ? false : !componentState.hasError(attributeName || fieldName)"
    [validationError]="{message: errors.length ? errors[0] : componentState.getError(attributeName || fieldName)[0]}"
    [inputAttr]="{ autocomplete: 'off' }"
    (onValueChanged)="onValueChange($event.value)"
    [placeholder]="placeholder"
    (onEnterKey)="onEnterKey.emit()"
    (onFocusOut)="onBlur.emit()">
  </dx-text-box>
  }

  @case ('Password') {
  <div class="hw-password-wrapper">
    <dx-text-box [disabled]="isDisabled" [maxLength]="max ?? ''" [value]="uiValue" [showClearButton]="false"
      [mode]="showPassword ? 'text' : 'password'" valueChangeEvent="keyup input"
      [inputAttr]="{ autocomplete: 'off', style: 'padding-right: 60px;' }"
      (onValueChanged)="onValueChange($event.value)"
      [placeholder]="placeholder"
      (onEnterKey)="onEnterKey.emit()">
    </dx-text-box>

    <div class="hw-password-actions">
      @if (uiValue && !isDisabled) {
      <button type="button" class="hw-icon-button hw-clear-button" (click)="clearValue()">
        ✕
      </button>
      }

      @if (uiValue) {
      <button type="button" class="hw-icon-button hw-toggle-button" (click)="togglePassword()">
        {{ showPassword ? '🙈' : '👁' }}
      </button>
      }
    </div>
  </div>
  }

  @case ('TextArea') {
  <dx-text-area [maxLength]="max ?? ''" [disabled]="false" [readOnly]="isReadOnly || isDisabled" [value]="uiValue"
    [placeholder]="placeholder"
    [autoResizeEnabled]="false"
    class="hw-textarea"
    [class.hw-disabled]="isDisabled"
    [focusStateEnabled]="!isDisabled"
    [hoverStateEnabled]="!isDisabled"
    [inputAttr]="isDisabled ? { style: 'cursor: default' } : {}"
    valueChangeEvent="keyup input"
    [isValid]="errors.length ? false : !componentState.hasError(attributeName || fieldName)"
    [validationError]="{message: errors.length ? errors[0] : componentState.getError(attributeName || fieldName)[0]}"
    (onValueChanged)="onValueChange($event.value)">
  </dx-text-area>
  }

  @case ('Email') {
  <dx-text-box [id]="testId + '-input'" mode="email" [placeholder]="placeholder" [disabled]="isDisabled"
    valueChangeEvent="keyup input"
    [isValid]="!componentState.hasError(attributeName)"
    [validationError]="{message: componentState.getError(attributeName)[0]}"
    [value]="uiValue"
    [showClearButton]="true"
    (onValueChanged)="onValueChange($event.value)"
    (onEnterKey)="onEnterKey.emit()">
  </dx-text-box>
  }

  @case ('Number') {
  <dx-number-box (onFocusIn)="onNumberBoxFocus($event)" [placeholder]="placeholder" [disabled]="isDisabled"
    [value]="uiValue"
    [format]="isInteger ? '#,##0' : (format || '')"
    [step]="1"
    [max]="max"
    [min]="min"
    valueChangeEvent="keyup input change"
    [class]="inputClass"
    [isValid]="errors.length ? false : !componentState.hasError(attributeName || fieldName)"
    [validationError]="{message: errors.length ? errors[0] : componentState.getError(attributeName || fieldName)[0]}"
    (onValueChanged)="onValueChange($event)"
    (onKeyDown)="onNumberKeyDown($event)"
    (onFocusOut)="onBlur.emit()">
  </dx-number-box>
  }

  @case ('Phone') {
  <dx-text-box [id]="testId ? testId + '-input' : ''" [placeholder]="placeholder" [disabled]="isDisabled"
    [isValid]="errors.length ? false : !componentState.hasError(attributeName || fieldName)"
    [validationError]="{message: errors.length ? errors[0] : componentState.getError(attributeName || fieldName)[0]}"
    [value]="uiValue"
    mode="tel"
    valueChangeEvent="input"
    [maxLength]="12"
    [showClearButton]="true"
    [inputAttr]="{ autocomplete: 'off', inputmode: 'numeric', pattern: '[0-9]*' }"
    (onValueChanged)="onPhoneValueChange($event.value)"
    (onKeyDown)="onPhoneKeyDown($event)"
    (onEnterKey)="onEnterKey.emit()">
  </dx-text-box>
  }

  @case ('Date') {
  <dx-date-box [min]="minDate" [max]="maxDate" [disabled]="isDisabled" class="loyalty-date"
    pickerType="calendar"
    [isValid]="!componentState.hasError(attributeName)"
    [inputAttr]="preventTyping ? { readonly: 'readonly' } : {}"
    [acceptCustomValue]="!preventTyping"
    [validationError]="{message: componentState.getError(attributeName)[0]}"
    type="date"
    [value]="uiValue || null"
    [displayFormat]="'dd MMM yyyy'"
    [showClearButton]="true"
    [placeholder]="placeholder"
    (onValueChanged)="onValueChange($event.value)">
  </dx-date-box>
  }

  @case ('DateTime') {
  <dx-date-box [min]="minDate" [max]="maxDate" [disabled]="isDisabled" class="loyalty-date"
    pickerType="calendar"
    [isValid]="!componentState.hasError(attributeName)"
    [inputAttr]="preventTyping ? { readonly: 'readonly' } : {}"
    [acceptCustomValue]="!preventTyping"
    [validationError]="{message: componentState.getError(attributeName)[0]}"
    type="datetime"
    [value]="uiValue || null"
    [displayFormat]="'dd MMM yyyy, HH:mm'"
    [placeholder]="placeholder"
    [showClearButton]="true"
    (onValueChanged)="onValueChange($event.value)">
  </dx-date-box>
  }

  @case ('DropDown') {
  <dx-select-box [dataSource]="dropdownDs" displayExpr="value" valueExpr="key" [disabled]="isDisabled"
    [value]="uiValue"
    [isValid]="!componentState.hasError(attributeName)"
    [placeholder]="placeholder || 'Select...'"
    [validationError]="{message: componentState.getError(attributeName)[0]}"
    (onValueChanged)="onValueChange($event.value)">
  </dx-select-box>
  }

  @case ('CheckBox') {
  @if (dropdownDs && dropdownDs.length > 0) {
  <div class="hw-checkbox-group">
    @for (option of dropdownDs; track $index) {
    <dx-check-box [disabled]="isDisabled"
      [text]="$any(option).value || option"
      [value]="isOptionSelected($any(option).key || option)"
      (onValueChanged)="onMultiOptionChange($any(option).key || option, $any($event).value)">
    </dx-check-box>
    }
  </div>
  } @else {
  <dx-check-box [disabled]="isDisabled"
    [value]="uiValue"
    [text]="placeholder"
    (onValueChanged)="onValueChange($any($event).value)">
  </dx-check-box>
  }
  }

  @case ('Search') {
  <dx-text-box [disabled]="isDisabled" [maxLength]="max ?? ''" [value]="uiValue" [showClearButton]="true"
    valueChangeEvent="keyup input"
    [isValid]="!componentState.hasError(attributeName)"
    [validationError]="{message: componentState.getError(attributeName)[0]}"
    [inputAttr]="{ autocomplete: 'off' }"
    (onValueChanged)="onValueChange($event.value)"
    [placeholder]="placeholder">

    <dxi-button name="searchIcon" location="before" [options]="{
      icon: 'search',
      stylingMode: 'text',
      disabled: true
    }">
    </dxi-button>
  </dx-text-box>
  }
  }

  @if (attributeName || fieldName) {
  <div [fieldName]="attributeName || fieldName"
    [errors]="errors.length ? errors : componentState.getError(attributeName || fieldName)"
    [attr.errFieldContainer]="attributeName || fieldName">
  </div>
  }
</div>