<dx-data-grid
  [dataSource]="gridDataSource"
  [keyExpr]="config.keyExpr"
  [showBorders]="config.showBorders ?? true"
>
  @for (column of config.columns; track column.caption) {
    <dxi-column
      [dataField]="column.dataField"
      [caption]="column.caption"
      [width]="column.width"
      [dataType]="column.dataType"
      [format]="column.format"
      [cellTemplate]="getColumnCellTemplate(column)"
      [visible]="column.visible ?? true"
      [alignment]="getColumnAlignment(column)"
    >
    </dxi-column>
  }

  <div *dxTemplate="let item of 'customColumnTemplate'">
    <ng-container *ngTemplateOutlet="getCustomTemplateByItem(item); context: { $implicit: item }">
    </ng-container>
  </div>

  <div *dxTemplate="let item of 'actionTemplate'" class="action-buttons">
    @for (action of config.actions ?? []; track action.label) {
      @if (isActionVisible(action, item.data)) {
        <homework-button
          [label]="action.label"
          [theme]="action.theme"
          [size]="action.size ?? 'md'"
          [iconCode]="action.iconCode ?? ''"
          [iconColor]="action.iconColor ?? ''"
          [iconSize]="action.iconSize ?? 16"
          [showDefaultLabel]="action.showDefaultLabel ?? false"
          [stylingMode]="action.stylingMode ?? 'outlined'"
          [disabled]="isActionDisabled(action, item.data)"
          (onClick)="onActionClick(action, item.data)"
        >
        </homework-button>
      }
    }
  </div>

  @if (config.masterDetail?.enabled) {
    <dxo-master-detail [enabled]="true" template="detailTemplate"></dxo-master-detail>
  }

  <div *dxTemplate="let row of 'detailTemplate'">
    <ng-container *ngTemplateOutlet="getCustomTemplate(config.masterDetail?.templateName); context: { $implicit: row }">
    </ng-container>
  </div>

  <dxo-paging [pageSize]="config.pageSize ?? 10"></dxo-paging>

  <dxo-pager
    [visible]="true"
    [showInfo]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 20, 50]"
  >
  </dxo-pager>
</dx-data-grid>
